body {
	padding: 0;
	margin: 0;
	background-image: url(background.jpg);
}

.drinks-block {
	width: 80%;
	height: 450px;
	margin-left: 10%;
	box-sizing: border-box;
	overflow: hidden;
	color: white;
	border: 2px solid white;
	margin-top: 30px;
	border-radius: 7px;
}

.drinks-names {
	width: 100%;
	text-align: center;
	font-size: 35px;
	font-family: Georgia;
	margin: 20px;
	font-weight: bold;
	display: inline-block;
}

.block-image {
	height: 100%;
	max-width: 35%;
	overflow: hidden;
	float: left;
}

.info-block{
	float: left;
	overflow: hidden;
	height: 100%;
	width: 65%;
	padding-left: 40px;
	box-sizing: border-box;
}

.drink-image{
	height: 100%;
}

.drink-ingredient {
	font-size: 26px;
	list-style-type: square;
}

.text-ingredient{
	font-size: 30px;
	margin: 0;
}

.list-block{
	height: 100px;
	width: 100%;
	overflow: auto;
	color: pink;
}

.drink-ingredient li{
	list-style-type: none;
	float: left;
	margin-left: 10px;
}

.instruction-block {
	height: 200px;
	font-size: 25px;
	overflow: auto;
	border: 2px solid white;
	padding: 15px;
	background-color: rgba(0,0,0,.3);
}
