body {
	padding: 0;
	margin: 0;
}

.drinks-block {
	width: 25%;
	float: left;
	padding: 20px;
	box-sizing: border-box;
	height: 750px;
	overflow: auto;
}

.drinks-block__drinks-names {
	text-align: center;
	font-size: 25px;
	font-family: Georgia;
	margin: 20px;
	font-weight: bold;
}

.drinks-block__drink-image {
	width: 70%;
	padding-left: 15%;
	text-align: center;
}

.drinks-block__drink-ingredient {
	font-size: 20px;
}

.drinks-block__instruction-block {
	border: 2px solid #ADD8E6;
	font-size: 18px;
	padding: 20px;
	margin: 20px;
}
